* {
    box-sizing: border-box;
}

body {
    background-color: #dfe6e9;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    max-width: 900px;
    text-align: center;
}

h1 {
    color: #ff3300;
    letter-spacing: 3px;
}

h4 {
    color: #339966;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #ff471a;
}

p {
    font-family: 'Pacifico', cursive;
    color: #0073e6;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h5 {
    color: gray;
}